@import 'tailwindcss';

@layer base {
  html {
    font-size: 14px;

    /* light mode colors */
    --background-color: #ffffff;
    --primary-text-color: #000;
    --secondary-text-color: #9e9e9e;
    --content-text-color: rgb(55, 53, 47);

    --button-background-color: #f3f3f4;
    --button-text-color: #363f47;

    --tab-text-color: #6e6d7a;
    --tab-hover-text-color: #0d0c22;
    --tab-selected-background-color: rgba(13, 12, 34, 0.05);

    --bio-link-icon-color: rgba(0, 0, 0, 0.54);
    --about-link-icon-color: #a8a8a8;

    --chip-background-color: #f3f3f4;
    --link-text-color: rgb(55 53 47 / 70%);
    --post-card-border-color: rgba(0, 0, 0, 0.12);

    --markdown-table-even-cell-background-color: #f6f8fa;
    --markdown-table-border-color: #dfe2e5;
    --markdown-blockquote-border-color: #dfe2e5;
    --markdown-border-color: #e1e4e8;
  }

  html.dark {
    /* dark mode colors */
    --background-color: #232326;
    --primary-text-color: #e6e6e6;
    --secondary-text-color: #768390;
    --content-text-color: #e6e6e6;

    --button-background-color: #444c56;
    --button-text-color: #363f47;

    --tab-text-color: #768390;
    --tab-hover-text-color: #acbac7;
    --tab-selected-background-color: #373e47;

    --chip-background-color: #323a42;
    --bio-link-icon-color: #e6e6e6;
    --about-link-icon-color: #a8a8a8;

    --link-text-color: #90b0ec;
    --post-card-border-color: #363f47;

    --markdown-table-even-cell-background-color: #2d333b;
    --markdown-table-border-color: #444c56;
    --markdown-blockquote-border-color: #4f5864;
    --markdown-border-color: #e1e4e8;
  }

  body {
    background-color: var(--background-color);
  }

  a {
    @apply no-underline;
    color: var(--link-text-color);
  }

  button,
  a {
    outline: none !important;
    border: none !important;
  }
}

/* Markdown heading anchor links */
.anchor {
  @apply float-left leading-none ml-[-20px] pr-1;
}

.anchor:focus {
  @apply outline-none;
}

h1 .octicon-link,
h2 .octicon-link,
h3 .octicon-link,
h4 .octicon-link,
h5 .octicon-link,
h6 .octicon-link {
  color: #1b1f23;
  @apply align-middle invisible;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  @apply no-underline;
}

h1:hover .anchor .octicon-link,
h2:hover .anchor .octicon-link,
h3:hover .anchor .octicon-link,
h4:hover .anchor .octicon-link,
h5:hover .anchor .octicon-link,
h6:hover .anchor .octicon-link {
  @apply visible;
}

/* Gatsby image wrapper and caption */
.gatsby-resp-image-wrapper {
  @apply flex justify-center w-full;
  max-height: var(--content-image-max-height) !important; /* Use theme value */
}

.gatsby-resp-image-wrapper img {
  @apply max-w-full w-auto h-auto relative;
  max-height: var(--content-image-max-height) !important; /* Use theme value */
}

.gatsby-resp-image-wrapper + em {
  @apply block text-center italic text-[15px] text-[#6a737d];
}

/* Timestamp Section */
.timestamp-item:first-child {
  padding-top: 7px;
}

.timestamp-item:last-child {
  padding-bottom: 7px;
}

@media (min-width: 768px) {
  /* md breakpoint */
  .timestamp-date {
    width: 200px;
    min-width: 200px;
  }
}

/* Theme Switch Button */
.dark-mode-button {
  backdrop-filter: blur(30px);
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink-black {
  0% {
    border-color: #bdbdbd;
    background-color: var(--background-color);
  }
  50% {
    border-color: black;
    background-color: black;
  }
  100% {
    border-color: #bdbdbd;
    background-color: var(--background-color);
  }
}

.animate-blink-black {
  animation: blink-black 2s infinite ease-in-out;
}
